@use "sass:map";

@import "normalizecss/normalize";
@import "~include-media/dist/_include-media.scss";
@import "@material/layout-grid/mdc-layout-grid";

:root {
	--dwn-gutter: 24px;
	// map dwn-gutter to material gutter
	--mdc-layout-grid-gutter-desktop: var(--dwn-gutter);
}

$breakpoints: (
	small: (
		"size": 0px,
		"class": "s"
	),
	medium: (
		"size": 640px,
		"class": "m"
	),
	iphone5: (
		"size": 320px,
		"class": "ip5"
	),
	iphonex: (
		"size": 375px,
	"class": "ipx"
	),
	iphone11: (
		"size": 414px,
		"class": "ip11"
	),
	iphone12: (
		"size": 390px,
		"class": "ip12"
	),
	ipad: (
		"size": 810px,
		"class": "ipad"
	),
	large: (
		"size": 1024px,
		"class": "l"
	),
	redmi-note-8: (
		"size": 1080px,
		"class": "rn8"
	),
	galaxy-a51: (
		"size": 1080px,
		"class": "ga51"
	),
	xlarge: (
		"size": 1200px,
		"class": "xl"
	),
	xxlarge: (
		"size": 1440px,
		"class": "xxl"
	)
);

/**
 * Reset
 */

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

%clearfix {
	*zoom: 1;
	&::before,
	&::after { content: " "; display: table; }
	&::after { clear: both; }
}

/**
 * Helper clearfix class
 */

.clearfix { @extend %clearfix; }

/**
 * Generate grid classes procedually
 */

.grid {

	@extend %clearfix; 
	@include mdc-layout-grid("desktop", 0);
	padding-left: 0;
	padding-right: 0;
	
	& > .inner {

		@include mdc-layout-grid-inner("desktop", 12px, 0);

		& > .col {
			@each $breakpoint in map.keys($breakpoints) {
				@debug "$breakpoint: #{map.get($breakpoints, $breakpoint, "size")} class: #{map.get($breakpoints, $breakpoint, "class")}";
					@include media(">#{map.get($breakpoints, $breakpoint, "size")}") {
					@for $i from 1 through 12 {
						&.#{map.get($breakpoints, $breakpoint, "class")}-#{$i} {
							@include mdc-layout-grid-cell("desktop", $i, 0);
						}
					}
				}
			}
		}

	}

}